/*VARIABLES CSS*/
:root {
  --primary-color: #00e8c0;
  --text-color: hwb(0 0% 100%);
  --backgraund-color: hsl(0, 0%, 88%);
  --background-card-color: hsl(0, 0%, 98%);
  --background-subcard-color: hsl(0, 0%, 99%);
  --transition: color 0.1s, background-color 0.2s ease-in-out;
  --border-radius: 0.4em;
  --skills-bar-lenght: 0%;
}
/* APLICANDO ALGUNAS PROPIEDADES A TODOS LOS ELEMENTOS */
* {
  /* BOX MODEL */
  box-sizing: border-box;

  /* TEXT */
  font-family: "Montserrat", sans-serif;
}
/* ==================== HEADER ============================= */
/* ESTILOS DEL HEADER */
.header {
  /* BOX MODEL */
  display: flex;
  height: 75px;
  width: 100%;
  padding: 0 1.5em;

  /* POSITION */
  align-items: center;
  justify-content: space-between;

  /* VISUAL */
  background-color: var(--background-card-color);

  /*OTROS*/
  transition: var(--transition);
}
/* SWITCHES CONTENEDOR, CAMBIO DE COLOR DARK/LIGHT MODE */
.switches {
  /* BOX MODEL */
  display: flex;

  /* POSITION */
  align-items: center;
  gap: 10px;
}
/*======================= TOOGLE ===========================*/
/* ESTILOS DEL TOGGLE */
.toggle-theme {
  /* POSITION */
  position: relative;

  /* BOX MODEL */
  display: block;
  width: 40px;
  height: 20px;

  /* VISUAL */
  background: #191919;
  border-radius: 160px;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  /* OTROS */
  transition: 0.5s;
  cursor: pointer;
}
/* ESTILOS AL ACTIVAR EL TOGGLE */
#toggle-theme.active {
  background: #fff;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}
/* TOGGLE INDICATOR */
#toggle-theme .indicator {
  /* POSITION */
  position: absolute;
  top: 0;
  left: 0;

  /* BOX MODEL */
  width: 20px;
  height: 20px;

  /* VISUAL */
  background: var(--primary-color);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: inset 0 4px 4px rgba(21, 20, 20, 0.5),
    inset 0 -4px 4px rgba(21, 20, 20, 0.5);
  /* OTROS */
  transition: 0.5s;
}
/* ESTILOS DEL TOGGLE-INDICATOR AL ACTIVAR EL TOGGLE */
#toggle-theme.active .indicator {
  left: 20px;
  background: var(--primary-color);
  box-shadow: inset 0 4px 4px rgba(21, 20, 20, 0.5),
    inset 0 -4px 4px rgba(21, 20, 20, 0.5);
}
/* ESTILO DEL TOGGLE THEME TEXT */
.toggle-theme__text {
  font-size: 1rem;
}
/* ================== COLORS ========================== */
/* ESTILOS DEL CONTENEDOR DE LOS COLORES */
.colors {
  /* BOX MODEL */
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 115px;

  /* POSITION */
  align-items: center;
}
/* ESTILOS DE LOS ITEM COLORS */
.colors__item {
  /* BOX MODEL */
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-color);

  /* VISUAL */
  background-color: var(--primary-color);

  /* OTROS */
  cursor: pointer;
}
/* ASIGNANDO EL COLOR A LOS ITEMS */
.colors__item-aqua {
  --primary-color: #00e8c0;
}
.colors__item-green {
  --primary-color: hsl(150, 84%, 56%);
}
.colors__item-blue {
  --primary-color: #035397;
}
.colors__item-red {
  --primary-color: #FF2E63;
}
.colors__item-purple{
  --primary-color: #5800FF;
}
/* ====================== BODY ========================== */
/* ESTILOS DEL BODY */
body {
  /* VISUAL */
  background-color: var(--backgraund-color);

  /* TEXT */
  color: var(--text-color);

  /* OTROS */
  transition: var(--transition);
}
/* ESTILOS DEL BODY CUANDO TENGA LA CLASE DARK */
/* CAMBIOS PARA EL TEXT-COLOR Y BACKGROUND-COLOR */
body.dark {
  --text-color: hsl(0, 0%, 83%);
  --backgraund-color: #121212;
  --background-card-color: #202020;
  --background-subcard-color: rgb(27, 26, 26);
}
/* ESTILOS PARA LOS ENLACES */
a {
  color: var(--primary-color);
  text-decoration: none;
}
/* PARA EVITAR QUE LAS IMAGENES DESVORDEN SU CONTENEDOR */
img {
  max-width: 100%;
  display: block;
}
/* PARA MOBILES */
.main {
  display: grid;
  padding: 1em;
  gap: 1em;
}
/* MEDIA QUERIES */
@media screen and (min-width: 720px) {
  .main {
    grid-template-columns: min-content 1fr;
  }
}
/* ============ ESTILOS-COLUMNA LEFT =================== */
.card {
  padding: 1em;
  background-color: var(--background-card-color);
  border-radius: var(--border-radius);
  border-top: 4px solid var(--primary-color);
}
/* ESTILOS PARA EL CONTENEDOR DE LA IMAGEN */
.card__image-container {
  min-width: 320px;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0,0,0,2.50);

}
/* ESTILOS PARA LOS TEXTOS */
.text-profile{
  margin: 0;
  font-size: .9em;
  line-height: 1.5;
}
.card__header {
  /* POSITION */
  padding: 1em 0;
}
.card__title {
  /* BOX MODEL */
  margin: 0;
  /* TEXT */
  font-size: 1.2rem;
  font-weight: bolder;
  
}
.card__subtitle {
  /*TEXT*/
  font-size: 0.9rem;
  opacity: 0.8;
  margin: 0.3em 0;
}
.card__link {
  /* BOX MODEL */
  display: flex;
  margin-bottom: 0.6em;
}
.card__text {
  font-size: 0.9rem;
  line-height: 1.5;
}
.icon {
  margin-right: 1em;
  width: 20px;
}
/* =======ESTILOS-COLUMN RIGHT============== */
.card__title-skills{
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 0.7em;
}
/* ESTILOS PARA EL CONTENEDOR DE SKILLS */
.card__container-skills{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
  gap: 1em;
}
/* ESTILOS DEL CONTENEDOR DEL TITULO Y LAS SKILLS */
.card-skills{
  /* BOX MODEL */
  padding: 1em;
  
  /* VISUAL */
  background-color: var(--background-card-color);
  border-radius: var(--border-radius);
  border-top: 4px solid var(--primary-color);
  height: max-content;
}
/* ESTILOS PARA LAS SUBTARJETAS */
.card__sub{
  /* VISUAL */
  background-color: var(--background-subcard-color);
  /* border: 4px solid var(--primary-color); */
  box-shadow: 0px 0px 15px rgba(0,0,0,2.50);
  padding: 1em;
  border-radius: var(--border-radius);
  position: relative; 
}
.column--left {
  display: grid;
  gap: 1em;
}
.column--right{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
/* ESTILOS PARA LOS SKILLS */
.skills__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
/* ESTILOS DE LA BARRA */
.skills__bar, .skills__bar::after{
  position: relative;
  width: 175px;
  height: 8px;
  background-color: #555;
  border-radius: var(--border-radius);
  overflow: hidden;
}
/* RELLENO DE LA BARRA */
.skills__bar::after{
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  transition: var(--transition);
  left: -175px;
  animation: skills__bar-fill 2s ease-in-out forwards;
}
.skills__bar--10::after{
  --skills-bar-lenght:10%;
}
.skills__bar--20::after{
  --skills-bar-lenght:20%;
}.skills__bar--30::after{
  --skills-bar-lenght:30%;
}.skills__bar--40::after{
  --skills-bar-lenght:40%;
}.skills__bar--50::after{
  --skills-bar-lenght:50%;
}.skills__bar--60::after{
  --skills-bar-lenght:60%;
}.skills__bar--70::after{
  --skills-bar-lenght:70%;
}.skills__bar--80::after{
  --skills-bar-lenght:80%;
}.skills__bar--90::after{
  --skills-bar-lenght:30%;
}
@keyframes skills__bar-fill{
  to{
    transform: translateX(var(--skills-bar-lenght))
  }
}
.skills{
  padding: 1em 0;
}
.skills__tech{
  margin: 0.6em 0;
  font-size: 0.8rem;
}
/* ========= ESTILOS TARJETA DE EXPERIENCIAS =============== */
.experience{
  /* BOX MODEL */
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  align-items: start;
  
  /* VISUAL */
  background-color: var(--background-subcard-color);
  box-shadow: 0px 0px 15px rgba(0,0,0,2.50);
  border-radius: var(--border-radius);
  
  /* OTROS */
  transition: var(--transition);
}
.experience__image{
  max-width: 20%;
}
.experience__info{
  margin-top: -1em;
  margin-left: 1em;
}
.experience__time{
  font-size: .8em;
}
.experience__job{
  color: var(--primary-color);
  transition: var(--transition);
  margin: 0;
}
.experience__description{
  font-size: 0.8em;
}
/* ====================== CARD HOBBIES ====================== */
/* ESTILOS PARA EL CONTENEDOR DE LOS HOBBIES */
.card--hobbies{
  display: grid;
  gap: 1em;
}
.card__sub-hobbies{
  padding: 0;
}

.card__title-hobbies{
  font-size: 1.2rem;
  margin: 0;
  
}
.card__subtitle-hobbies{
  margin-top: 1em;
  margin-left: 1em;
}
.card__text{
  margin-top: 0;
  margin-left: 1em;
}
.image__container-subcard{
  min-width: 320px;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  overflow: hidden;
}
/* ==========ESTILOS PARA LA TARJETA PROJECTS===================== */
.container__all-projects{
  display: grid;
  gap: 1em;
}
.card__container-projects{
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 1em;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  overflow: hidden;
}



.card__info-project{
  margin: 0.5em 0.5em;
}
@media (max-width: 1000px) {
  .card__container-projects{
    display: flex;
    flex-direction: column;
  }
  .card__info-project{
    /* padding: 0 1em; */
    margin: 0 1em 1em;
  }
}
.tags{
  display: flex;
  gap: 0.4em;
  flex-wrap: wrap;
}
.tag{
  padding: 0.4em 0.8em;
  font-size: 0.7em;
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--background-subcard-color);
  border-radius: var(--border-radius);
  transition: var(--transition);
}
.subtitle-project{
  margin-top: 1em;
}
.buttons{
  display: flex;
  gap: 2em;

}
.button{
  width: 80px;
  line-height: 2.1;
  text-align: center;
  border-radius: var(--border-radius);
  transition: var(--transition);
}
.button-primary{
  background-color: var(--primary-color);
  color: var(--background-card-color);
  box-shadow: 0px 0px 10px rgba(0,0,0,2.50);

}
.button-ghost{
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  box-shadow: 0px 0px 10px rgba(0,0,0,2.50);
}

@media (min-width: 1000px) {
  .buttons{
    display: flex;
    position: absolute;
    bottom: 1em;
  }
}