/*VARIABLES CSS*/
:root{
    --primary-color: royalblue; 
    --text-color: #797D7F;
    --backgraund-color: hsl(0, 0%, 90%);
    --background-card-color: hsl(0, 0%, 98%);
}
/* APLICANDO ALGUNAS PROPIEDADES A TODOS LOS ELEMENTOS */
*{
    /* BOX MODEL */
    box-sizing: border-box;

    /* TEXT */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ==================== HEADER ============================= */
/* ESTILOS DEL HEADER */
.header{
    /* BOX MODEL */
    display: flex;
    height: 75px;
    padding: 0 1.5em;

    /* POSITION */
    align-items: center;
    justify-content: space-between;

    /* VISUAL */
    background-color: var(--background-card-color);
}
/* SWITCHES CONTENEDOR, CAMBIO DE COLOR DARK/LIGHT MODE */
.switches{
    /* BOX MODEL */
    display: flex;

    /* POSITION */
    align-items: center;
    gap: 10px;
}
/*======================= TOOGLE ===========================*/
/* ESTILOS DEL TOGGLE */
.toggle-theme{
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    border-radius: 160px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
                inset 0 8px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 4px rgba(0, 0, 0, 0.1);         
}
/* ESTILOS AL ACTIVAR EL TOGGLE */
#toggle-theme.active{
    background: #fff;
    box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
                inset 0 2px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 4px rgba(0, 0, 0, 0.05),;
}
/* TOGGLE INDICATOR */
#toggle-theme .indicator{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: var(--primary-color);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: inset 0 4px 4px rgba(21, 20, 20, 0.5),
                inset 0 -4px 4px rgba(21, 20, 20, 0.5);
    transition: 0.5s;
}
/* ESTILOS DEL TOGGLE-INDICATOR AL ACTIVAR EL TOGGLE */
#toggle-theme.active .indicator{
    left: 20px;
    background: var(--primary-color);
    box-shadow: inset 0 4px 4px rgba(21, 20, 20, 0.5),
    inset 0 -4px 4px rgba(21, 20, 20, 0.5);
}
/* ESTILO DEL TOGGLE THEME TEXT */
.toggle-theme__text{
    font-size: 0.8rem;
}
/* ================== COLORS ========================== */
/* ESTILOS DEL CONTENEDOR DE LOS COLORES */
.colors{
    /* BOX MODEL */
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 100px;

    /* POSITION */
    align-items: center;
}
/* ESTILOS DE LOS ITEM COLORS */
.colors__item{
    /* BOX MODEL */
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);

    /* VISUAL */
    background-color: var(--primary-color);

    /* OTROS */
    cursor: pointer;
}
/* ASIGNANDO EL COLOR A LOS ITEMS */
.colors__item-blue {
    --primary-color: hsl(214, 84%, 56%);
}

.colors__item-green {
    --primary-color: hsl(150, 84%, 56%);
}

.colors__item-purple {
    --primary-color: hsl(276, 84%, 56%);
}

.colors__item-orange {
    --primary-color: hsl(10, 84%, 56%);
}

/* ====================== BODY ========================== */
/* ESTILOS DEL BODY */
body{
    /* VISUAL */
    background-color: var(--backgraund-color);

    /* TEXT */
    color: var(--text-color);
}
/* ESTILOS DEL BODY CUANDO TENGA LA CLASE DARK */
  /* CAMBIOS PARA EL TEXT-COLOR Y BACKGROUND-COLOR */
body.dark{
    --text-color: hsl(0, 0%, 83%);
    --backgraund-color: hsl(0, 0%, 15%);
    --background-card-color: hsl(0, 0%, 20%)
}

h1{
    color: var(--primary-color);
    text-align: center;
}
