/*VARIABLES CSS*/
:root {
  --primary-color: #00e8c0;
  --text-color: hwb(0 0% 100%);
  --backgraund-color: hsl(0, 0%, 90%);
  --background-card-color: hsl(0, 0%, 98%);
  --transition: color 0.1s, background-color 0.2s ease-in-out;
  --border-radius: 0.4em;
  --skills-bar-lenght: 0%;
}
/* APLICANDO ALGUNAS PROPIEDADES A TODOS LOS ELEMENTOS */
* {
  /* BOX MODEL */
  box-sizing: border-box;

  /* TEXT */
  font-family: "Montserrat", sans-serif;
}
/* ==================== HEADER ============================= */
/* ESTILOS DEL HEADER */
.header {
  /* BOX MODEL */
  display: flex;
  height: 75px;
  width: 100%;
  padding: 0 1.5em;

  /* POSITION */
  align-items: center;
  justify-content: space-between;

  /* VISUAL */
  background-color: var(--background-card-color);

  /*OTROS*/
  transition: var(--transition);
}
/* SWITCHES CONTENEDOR, CAMBIO DE COLOR DARK/LIGHT MODE */
.switches {
  /* BOX MODEL */
  display: flex;

  /* POSITION */
  align-items: center;
  gap: 10px;
}
/*======================= TOOGLE ===========================*/
/* ESTILOS DEL TOGGLE */
.toggle-theme {
  /* POSITION */
  position: relative;

  /* BOX MODEL */
  display: block;
  width: 40px;
  height: 20px;

  /* VISUAL */
  background: #191919;
  border-radius: 160px;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  /* OTROS */
  transition: 0.5s;
  cursor: pointer;
}
/* ESTILOS AL ACTIVAR EL TOGGLE */
#toggle-theme.active {
  background: #fff;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}
/* TOGGLE INDICATOR */
#toggle-theme .indicator {
  /* POSITION */
  position: absolute;
  top: 0;
  left: 0;

  /* BOX MODEL */
  width: 20px;
  height: 20px;

  /* VISUAL */
  background: var(--primary-color);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: inset 0 4px 4px rgba(21, 20, 20, 0.5),
    inset 0 -4px 4px rgba(21, 20, 20, 0.5);
  /* OTROS */
  transition: 0.5s;
}
/* ESTILOS DEL TOGGLE-INDICATOR AL ACTIVAR EL TOGGLE */
#toggle-theme.active .indicator {
  left: 20px;
  background: var(--primary-color);
  box-shadow: inset 0 4px 4px rgba(21, 20, 20, 0.5),
    inset 0 -4px 4px rgba(21, 20, 20, 0.5);
}
/* ESTILO DEL TOGGLE THEME TEXT */
.toggle-theme__text {
  font-size: 1rem;
}
/* ================== COLORS ========================== */
/* ESTILOS DEL CONTENEDOR DE LOS COLORES */
.colors {
  /* BOX MODEL */
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 115px;

  /* POSITION */
  align-items: center;
}
/* ESTILOS DE LOS ITEM COLORS */
.colors__item {
  /* BOX MODEL */
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-color);

  /* VISUAL */
  background-color: var(--primary-color);

  /* OTROS */
  cursor: pointer;
}
/* ASIGNANDO EL COLOR A LOS ITEMS */
.colors__item-aqua {
  --primary-color: #00e8c0;
}
.colors__item-green {
  --primary-color: hsl(150, 84%, 56%);
}
.colors__item-purple {
  --primary-color: #48466D;
}
.colors__item-red {
  --primary-color: #FF2E63;
}
.colors__item-yellow{
  --primary-color: #F6F54D;
}
/* ====================== BODY ========================== */
/* ESTILOS DEL BODY */
body {
  /* VISUAL */
  background-color: var(--backgraund-color);

  /* TEXT */
  color: var(--text-color);

  /* OTROS */
  transition: var(--transition);
}
/* ESTILOS DEL BODY CUANDO TENGA LA CLASE DARK */
/* CAMBIOS PARA EL TEXT-COLOR Y BACKGROUND-COLOR */
body.dark {
  --text-color: hsl(0, 0%, 83%);
  --backgraund-color: #121212;
  --background-card-color: #202020;
}
/* ESTILOS PARA LOS ENLACES */
a {
  color: var(--primary-color);
  text-decoration: none;
}
/* PARA EVITAR QUE LAS IMAGENES DESVORDEN SU CONTENEDOR */
img {
  max-width: 100%;
  display: block;
}
/* PARA MOBILES */
.main {
  display: grid;
  padding: 1em;
  gap: 1em;
}
/* MEDIA QUERIES */
@media screen and (min-width: 720px) {
  .main {
    grid-template-columns: min-content 1fr;
  }
}
/* ============ ESTILOS-COLUMNA LEFT =================== */
.card {
  padding: 1em;
  background-color: var(--background-card-color);
  border-radius: var(--border-radius);
  border-top: 4px solid var(--primary-color);
}
/* ESTILOS PARA EL CONTENEDOR DE LA IMAGEN */
.card__image-container {
  min-width: 320px;
  border-radius: var(--border-radius);
  overflow: hidden;
}
/* ESTILOS PARA LOS TEXTOS */
.card__header {
  /* POSITION */
  padding: 1em 0;
}
.card__title {
  /* BOX MODEL */
  margin: 0;
  /* TEXT */
  font-size: 1.2rem;
  font-weight: bolder;
  
}
.card__subtitle {
  /*TEXT*/
  font-size: 0.9rem;
  opacity: 0.8;
  margin: 0.3em 0;
}
.card__link {
  /* BOX MODEL */
  display: flex;
  margin-bottom: 0.6em;
}
.card__text {
  font-size: 0.9rem;
  line-height: 1.5;
}
.icon {
  margin-right: 1em;
  width: 20px;
}
/* =======ESTILOS-COLUMN RIGHT============== */
.column {
  display: grid;
  gap: 1em;
}
.column--right{
  display: grid;
  grid-auto-rows:min-content;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
} 
/* ESTILOS PARA LOS SKILLS */
.skills__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
/* ESTILOS DE LA BARRA */
.skills__bar, .skills__bar::after{
  position: relative;
  width: 175px;
  height: 8px;
  background-color: #555;
  border-radius: var(--border-radius);
  overflow: hidden;
}
/* RELLENO DE LA BARRA */
.skills__bar::after{
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  transition: var(--transition);
  left: -175px;
  animation: skills__bar-fill 2s ease-in-out forwards;
}
.skills__bar--10::after{
  --skills-bar-lenght:10%;
}
.skills__bar--20::after{
  --skills-bar-lenght:20%;
}.skills__bar--30::after{
  --skills-bar-lenght:30%;
}.skills__bar--40::after{
  --skills-bar-lenght:40%;
}.skills__bar--50::after{
  --skills-bar-lenght:50%;
}.skills__bar--60::after{
  --skills-bar-lenght:60%;
}.skills__bar--70::after{
  --skills-bar-lenght:70%;
}.skills__bar--80::after{
  --skills-bar-lenght:80%;
}.skills__bar--90::after{
  --skills-bar-lenght:30%;
}
@keyframes skills__bar-fill{
  to{
    transform: translateX(var(--skills-bar-lenght))
  }
}
.skills{
  padding: 1em 0;
}
.skills__tech{
  margin: 0.6em 0;
  font-size: 0.8rem;
}
/* ========= ESTILOS TARJETA DE EXPERIENCIAS =============== */
.experience{
  /* BOX MODEL */
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  align-items: start;
  
  /* VISUAL */
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  
  /* OTROS */
  transition: var(--transition);
}
.experience__image{
  max-width: 20%;
}
.experience__info{
  margin-top: -1em;
  margin-left: 1em;
}
.experience__time{
  font-size: .8em;
}
.experience__job{
  color: var(--primary-color);
  transition: var(--transition);
  margin: 0;
}
.experience__description{
  font-size: 0.8em;
}